body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


a {
  text-decoration: none;
  color: black;
}


a:visited {
  text-decoration: none;
  color: black;
}


.container {
  margin: 0;
}


/* Intro section */
#intro {
  display: block;
  height: 700px;
  width: 100%;
  margin: 0;
  background-color: #ffe9d6;
}


/* Header section */
.header {
  margin: 0 5% 0 5px;
  line-height: 40px;
}


.navbar {
  display: table;
  width: 100%;
  height: auto;
}


.nav-item-container {
  display: table-cell;
  width: 33.33%;
}


.navbar-nav {
  display: block;
  list-style-type: none;
}


.nav-item-container img {
  height: 40px;
  width: auto;
  visibility: visible;
}


#menu-icon {
  height: 40px;
  width: auto;
  visibility: hidden;
}


.btn-toggle-nav > img {
  background-color: #ff7a00;
  cursor: pointer;
}


.nav-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  padding: 0 8px;
  visibility: hidden;
}


.nav-sidebar ul {
  padding-top: 10px;
  padding-left: 20px;
  margin-top: 55px;
  margin-left: 0;
  width: 70px;
  background-color: #222;
  opacity: 0.5;
  height: 140px;
  z-index: 1000;
}


.nav-sidebar ul li {
  line-height: 40px;
  list-style: none;
  color: white;
}


.nav-sidebar ul li a {
  display: block;
  white-space: nowrap;
  color: white;
  transition: all 0.3s ease-in-out;
}


.navbar-nav li {
  float: left;
  width: 33.33%;
}


.cart-button {
  padding-right: 0;
  border-radius: 30px;
  float: right;
  width: 100px;
  line-height: 5px;
  padding: 7px;
  background-color: #ff7a00;
}


.cart-button > span {
  display: flex;
}


.cart-logo {
  width: 50%;
  text-align: center;
}


.cart-logo > img {
  height: 35px;
  width: auto;
}


.cart-item-total {
  width: 50%;
  text-align: center;
  margin: auto 0;
  color: white;
  font-size: 20px;
}


/* Banner section */
.banner-container {
  margin: 0 80px;
}


.banner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


.banner > div {
  width: 50%;
  text-align: center;
}


.banner img {
  width: 90%;
  height: auto;
  visibility: visible;
}


.banner-content {
  font-size: 70px;
  font-weight: 800;
  text-align: left !important;
  letter-spacing: 5px;
  padding: 20% 10%;
  text-transform: capitalize;
  color: #ff7a00;
}


.shop-button-container {
  display: table;
  margin: auto;
  border-radius: 5px;
  width: 30%;
  height: 25px;
  background-color: #ff7a00;
}

/* .wrap::after {
    content: "";
    clear: both;
    display: table;

} */

/* About section */
#about {
  margin: 0;
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.981);
}


#about > div {
  color: white;
  margin: auto 3%;
  padding: 6.3% 0;
  font-size: 30px;
  overflow: wrap;
  text-align-last: center;
}


/* Shop Section */
#shop {
  margin: 0;
}


#shop > div {
  margin: 0 5%;
}


#shop h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bolder;
}


.shop-list {
  display: flex;
  flex-wrap: row wrap;
  margin: 0 -5px;
  flex-flow: row wrap;
  justify-content: space-between;
}


.shop-list .shop-item {
  margin: 10px 10px 60px;
  flex: 1 0 auto;
  padding: 20px;
  width: 250px;
}


.shop-item h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: larger;
}


.shop-item-title {
  position: relative;
 
}


.shop-item-title > img {
  width: 100%;
  height: 320px;
}


.price-title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}


.price-title .price {
  margin: 5% auto;
  font-size: 25px;
  color: #fff;
}


.price-title h2 {
  color: #fff;
  text-align: center;
  margin-top: 120px;
}


.shop-item-title:hover .price-title {
  visibility: visible;
  opacity: 0.5;
}


.shop-item button {
  width: 100%;
  height: 45px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #ff7a00;
}


.add-to-cart {
  text-transform: capitalize;
}


.add-to-cart > span {
  width: 100px;
}


.remove-item {
  border: none;
  height: 25px;
  border-radius: 3px;
  background-color: #ff9a3d;
}


/* Cart item section */

.cart-section {
  display: none;

}


.cart-control {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  overflow-y: scroll;
}


.cart-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
  height: auto;
  background: #fff;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}


.table-cart,
.summary-cart {
  counter-reset: serial-number; /* Set the serial number counter to 0 */
}


.table-cart td:first-child:before,
.summary-cart td:first-child:before {
  counter-increment: serial-number; /* Increment the serial number counter */
  content: counter(serial-number); /* Display the counter */
}


.table-cart,
.summary-cart {
  width: 98%;
  margin: 0 auto;
}


.table-cart th,
.summary-cart th .table-cart td,
.summary-cart td {
  border-collapse: collapse;
  padding: 12px 0;
}


.table-cart td:last-child {
  text-align: center;
}


th {
  text-align: left;
}


#quantity {
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  background-color: #ff9a3d;
}


.number {
  border: none;
  width: 25px;
  height: 18px;
  text-align: center;
  font-size: 15px;
  background-color: #fff;
  color: black;
}


.error-message {
  margin: 0px;
  text-align: center;
  font-size: 13px;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;

}


.cart-form {
  display: block;
  margin-top: 50px;
}


.myform {
  width: 80%;
  margin: 0 auto;
}


.myform > input {
  width: 100%;
  height: 30px;
  background-color: #ffcd9e;
}


.total-price {
  text-align: center;
}


.total-price > h3 {
  text-transform: capitalize;
}


.total-price > div {
  margin: 5px;
  text-align: right;
}


.total-price button {
  width: 30%;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: #ffcd9e;
}


.total {
  border: none;
  margin-left: 0px;
  font-size: 20px;
  color: black;
  width: 110px;
  background-color: #fff;
}


/* Order Summary Section */

.order-summary {
  display: none;
}


.summary-list {
  margin: 15px;
}


.summary-list em {
  color: #ff9a3d;
}


.summary-list div {
  text-align: center;
  margin: 40px 0;
}


.summary-list .exit-btn {
  text-align: right;
}


.summary-cart th {
  text-align: center;
}


.order-table-wrapper {
  margin: 0 auto;
}


.exit-btn > button {
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #ffcd9e;
  color: black;
}


#shop-now {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 100;
}


.summary-list img {
  height: 150px;
}


.order-quantity {
  border: none;
  width: 100px;
  text-align: center;
  font-size: 16px;
  color: black;
}


.open {
  display: block;
  background-color: chartreuse;
}


.open-summary {
  display: block;
}

/* The footer section */

.footer {
  margin-bottom: 0px;
  margin: 30px 0 0;
  background-color: #000;
}


.footer > div {
  margin: 0 5%;
  display: flex;
  line-height: 20px;
}


.footer p {
  color: #fff;
  font-size: small;
}


.footer-img {
  width: 50%;
  margin: auto 0;
}


.footer-img > img {
  width: 100px;
}


/* Media query for responsiveness */


/* For small mobile */
@media screen and (max-width: 420px) {

  .cart-button {
    padding-top: 2px;
    border-radius: 25px;
    width: 60px;
    height: 35px;
    margin-top: 12px;
   
  }
   

  .banner-content {
    font-size: 45px;
  }

  .navbar-nav {
    display: none;
  }

  .nav-item-container img {
    background-color: #ff7a00;
    border-radius: 3px;
    visibility: hidden;
  }

  #menu-icon {
    visibility: visible;
  }

  .banner-container {
    margin: 0px 10px;
  }

  .banner img {
    display: none;
  }

  .banner > div {
    width: 100%;
  }

  .shop-button-container {
    margin-top: 60px;
  }

  .table-cart {
    font-size: 11px;
  }
  .cart-item{
    width: 93%;
  }

}

/* For mobile screen */
@media screen and (min-width: 420px) and (max-width: 550px){
  .cart-button {
    padding-top: 2px;
    border-radius: 25px;
    width: 60px;
    height: 35px;
    margin-top: 12px;
   
  }
  
  #menu-icon {
    visibility: visible;
  }

  .navbar-nav {
    display: none;
  }

  .nav-item-container img {
    visibility: hidden;
  }

  #intro {
    height: auto;
  }

  .banner img {
    width: 100%;
  }

  .banner-container {
    margin: 50px 30px;
  }

  .banner-content {
    font-size: 29px;
  }

  .shop-button-container {
    margin-top: 100px;
  }
  
  .cart-item{
    width: 80%;
  }
  
  #intro {
    height: 200px;
  }

}

/* For medium screen */
@media screen and (min-width: 550px) and (max-width: 785px) {

  #intro {
    height: 470px;
  }

  .banner-container {
    margin: 70px 30px 2px;
  }

  .banner-content {
    font-size: 40px;
  }

  .shop-button-container {
    margin-top: 40px;
  }
  .cart-item{
    width: 70%;
  }

}

/* For laptops */

@media screen and (max-width: 1024px) {
  #intro {
    height: 600px;
  }
}


/* For Big Laptop */
@media screen and (min-width: 1025px) and (max-width: 2550px){
  #intro {
    height: 750px;
  }

  .banner-content {
    font-size: 90px;
  }

 
}

/* For Tv Screen */
@media screen and (min-width: 2560px) {
  #intro {
    height: 1150px;
  }

  .banner-content {
    font-size: 120px;
  }

}